{
  "extends": [
    "airbnb",
    "plugin:prettier/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": ["import", "react", "prettier"],
  "parser": "@babel/eslint-parser",
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "arrow-body-style": [
      "error",
      "as-needed",
      { "requireReturnForObjectLiteral": true }
    ],
    // "arrow-parens": [2, "as-needed", { "requireForBlockBody": true }],
    "arrow-parens": ["error", "as-needed"],
    "max-len": [1, 100, 2, { "ignoreComments": true }],
    "no-console": ["off"],
    "comma-dangle": [1, "only-multiline"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "prettier/prettier": "error",
    "prefer-destructuring": ["error", { "object": true, "array": false }]
  }
}
