$color-green: green;
$color-grey: grey;
$color-lightcoral: lightcoral;
$color-lightgray: lightgrey;
$color-lightyellow: lightyellow;
$color-red: red;
$color-black: black;
$color-white: white;
$color-placeholder: #adb5bd;

$color-background: #eee;
$color-bs-info: #5bc0de;
$color-bs-primary: #337ab7;
$color-bs-warning: #f0ad4e;
$color-btn-success: $color-green;
$color-btn-warning: $color-red;
$color-bs-link: #0d6efd;
$color-bs-link-hover: #0a58ca;

$color-can-drop: $color-lightgray;
$color-default: #777;
$color-editable: #fff;
$color-invalid: $color-lightcoral;
$color-is-over: #31708f;
$color-readonly: hsl(0, 0%, 95%);
$color-required: $color-lightyellow;
$color-selected-border: #0dcaf0;
$color-attention-emphasis: #9a6700;
$color-halloween: #fe9600;

$color-surface-grey: #eef1f2; // eln shades
