$color-background: #eee;
$color-bs-info: #5bc0de;
$color-bs-primary: #337ab7;
$color-bs-warning: #f0ad4e;
$color-btn-success: green;
$color-btn-warning: red;
$color-can-drop: lightgray;
$color-default: #777;
$color-editable: #fff;
$color-invalid: lightcoral;
$color-is-over: #31708f;
$color-readonly: #ddd;
$color-required: lightyellow;
$color-selected-border: #0dcaf0;
$color-attention-emphasis: #9a6700;
$color-halloween: #fe9600;
