@use "color" as *;

.gu-form-group {
  align-items: center;
  display: inline-flex;
  width: 100%;

  > div[class^="col-"] {
    padding-right: 0;
  }

  .gu-form-group-label {
    float: right;
    font-weight: 700;
  }
}

@mixin gu-ontology-select-code {
  border-radius: 0.375rem;
  float: right;
}

.gu-ontology-select-code-prefix {
  @include gu-ontology-select-code;
  background-color: $color-bs-primary !important;
}

.gu-ontology-select-code-short {
  @include gu-ontology-select-code;
  background-color: $color-bs-info !important;
}

.gu-xsmall-input-group.gu-xsmall-input-group {
  > input, > span {
    min-height: calc(1.5em + .5rem + calc(var(--bs-border-width) * 2));
    font-size: 0.875rem;
    height: 2.2rem; // 1.5rem;
    padding: 0.25rem 0.5rem;
  }
}

.gu-drop-zone {
  border: 3px dashed $color-lightgray;
  color: $color-grey;
  text-align: center;
  width: 100%;
}
