@use 'color' as *;
@import 'mixins';

.gu-ml-2 {
  @include gux-ml(2);
}

.gu-ml-4 {
  @include gux-ml(4);
}

.gu-mr-1 {
  @include gux-mr(1);
}

.gu-mr-auto {
  @include gux-mr(auto);
}

.gu-mb-1 {
  @include gux-mb(1);
}

.btn-gxs, .btn-group-gxs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.gu-no-pointer {
  cursor: default;
  text-decoration: none;
}

.gu-no-pointer:hover {
  text-decoration: none;
}

.gu-ont-display {
  @include gux-ml(2);
  background-color: $color-green !important;
  color: $color-white !important;
  border: $color-green solid 1px;
}

.gu-ont-display:hover {
  border-color: $color-green !important;
}
