.gu_btn_text_success {
  color: green;
}

.gu_btn_text_danger {
  color: red;
}

.gu_flow_dnd_sidebar {
  border-width: 0px 0px 1px 0px;
  border-color: black;
  border-style: solid;
}

.gu_sp_form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 5px;
}
.gu_sp_form .gu_sp_label {
  width: 100%;
  margin: 0px 5px;
  text-align: left;
  font-weight: bold;
}
.gu_sp_form .gu_sp_column {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

.gu_button_right {
  float: right;
  right: 0px;
  z-index: 1;
  margin-left: 2px;
}

.bg-bs-primary {
  background-color: #337ab7 !important;
}

.bg-bs-warning {
  background-color: #f0ad4e !important;
}

.icon_generic_nav {
  font-family: FontAwesome, Helvetica, Arial, sans-serif !important;
}

.field_required {
  background-color: lightyellow;
}

.template_panel_heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 5px 10px !important;
}

.panel_generic_properties {
  border-left: unset !important;
  border-right: unset !important;
  border-bottom: unset !important;
  line-height: 26px !important;
  box-shadow: unset !important;
  margin-bottom: unset !important;
}
.panel_generic_properties .panel-title {
  font-weight: bold;
}
.panel_generic_properties .default_style {
  font-size: 14px;
  line-height: normal;
}

.panel_generic_properties_body {
  padding-left: unset !important;
  padding-right: unset !important;
}

.panel_generic_heading_slim {
  padding: 5px 0px !important;
}

.panel_generic_heading {
  font-weight: bold;
  padding: 10px 0px !important;
}

.panel_generic_heading_bu {
  font-weight: bold;
  padding: 10px 0px !important;
  text-decoration: underline;
}

.panel_generic_heading_bui {
  font-weight: bold;
  padding: 10px 0px !important;
  text-decoration: underline;
  font-style: italic;
}

.text_generic_properties .dummy {
  background-color: unset !important;
  border: unset !important;
  box-shadow: unset !important;
}
.text_generic_properties .editable {
  background-color: #fff;
}
.text_generic_properties .readonly {
  background-color: #ddd;
}
.text_generic_properties .required {
  background-color: lightyellow;
}
.text_generic_properties input:invalid {
  border: 1px solid lightcoral;
}

.select_generic_properties_editable .Select-control {
  background-color: #fff;
}

.select_generic_properties_readonly .Select-control {
  background-color: #ddd;
}

.select_generic_properties_required .Select-control {
  background-color: lightyellow;
}

.drop_generic_properties {
  display: flex;
  align-items: center;
}
.drop_generic_properties .target {
  height: 100%;
  width: 100%;
  margin: 0px 10px 0px 10px;
  display: inline-block;
}
.drop_generic_properties .target .indicator {
  font-size: x-large;
}
.drop_generic_properties .target .s-img {
  display: flex;
}
.drop_generic_properties .target .s-img img {
  height: 4vh;
  width: 4vw;
}
.drop_generic_properties .target .data {
  font-size: medium;
  line-height: normal !important;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  align-self: center;
  width: 100%;
}
.drop_generic_properties .target.can-drop .indicator {
  border: 2px dashed lightgray;
  color: lightgray;
}
.drop_generic_properties .target.can-drop .data {
  border: 2px dashed lightgray;
  color: lightgray;
}
.drop_generic_properties .target.is-over .indicator {
  border: 2px dashed #31708f;
  color: #31708f;
}
.drop_generic_properties .target.is-over .data {
  border: 2px dashed #31708f;
  color: #31708f;
}
.drop_generic_properties .btn_del {
  float: right;
  align-self: center;
}
.drop_generic_properties .sample_radios {
  font-size: xx-small;
  line-height: 2;
  display: inline-flex;
  padding-right: 5px;
}

.generic_criteria_modal {
  display: block;
  padding-left: 0px;
  top: 45% !important;
  width: 75vw !important;
}

.search_criteria_mof .modal_body {
  max-height: 70vh;
  height: 70vh;
  overflow: auto;
}
.search_criteria_mof .btn_footer {
  margin-top: 10px;
}

.input-form .input-group-addon {
  font-weight: bold;
}
.input-form .help {
  font-size: 80%;
  margin: 6px;
  font-style: italic;
}

.g-ds-note {
  color: black !important;
  float: left !important;
  text-align: left !important;
  font-weight: lighter !important;
}
.g-ds-note .g-ds-title {
  text-decoration: underline;
  font-weight: 700;
  line-height: 1.5;
}

.g_input_group {
  padding: 6px 6px !important;
}

.g_input_group_label {
  background-color: lightgray !important;
  width: unset !important;
  white-space: nowrap !important;
  padding: 6px 6px !important;
}

.g_col_w {
  width: 20% !important;
}

.generic_grid {
  display: block;
}
.generic_grid > div {
  display: flex;
  flex-wrap: nowrap;
}

.generic_grid_header {
  width: 100%;
  margin: 6px 0px 6px 6px;
  text-align: center;
  line-height: 15px;
  align-self: center;
  font-weight: bolder;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.generic_grid_row {
  width: 100%;
  margin: 6px 0px 6px 6px;
  text-align: center;
  line-height: 15px;
  align-self: center;
}

.generic_grid_row_left {
  text-align: left;
}

.generic_version {
  background-color: #777;
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  border-radius: 0.5rem;
  color: white;
  background-color: unset;
  color: blue;
}

.generic_version_draft {
  background-color: #777;
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
  border-radius: 0.5rem;
  color: white;
  background-color: unset;
  color: black;
}

.generic_version_block {
  display: block;
  padding: 6px 10px;
  margin: 10px;
  border-radius: 10px;
  border: thin solid lightgray;
  font-size: 1.2em;
}
.generic_version_block > div {
  display: flex;
  flex-wrap: nowrap;
}

.generic_block_select {
  border-width: medium;
  border-style: groove;
}

.generic_panel_none {
  border-color: #ddd !important;
}
.generic_panel_none > .panel-heading {
  background-color: white !important;
}

.generic_tbl_chks {
  line-height: 1em;
  margin: 0px -10px !important;
}
.generic_tbl_chks > label {
  display: inline-flex;
  align-content: center;
  align-items: center;
}
.generic_tbl_chks > label > input {
  margin-top: 0px;
}

.generic_btn_default {
  background-color: #777 !important;
  color: #fff !important;
}

.drop_generic_table_wrap .target .s-img {
  position: relative;
  border: 1px solid transparent;
}
.drop_generic_table_wrap .target .s-img img {
  height: 4vw;
  width: 4vw;
}
.drop_generic_table_wrap .target .s-img .del_btn {
  position: absolute;
  top: 0%;
  left: 0%;
}
.drop_generic_table_wrap .target .s-img .link_btn {
  position: absolute;
  bottom: 0%;
  left: 0%;
}
.drop_generic_table_wrap .target .s-img:hover {
  border: 1px solid #0dcaf0;
}
.drop_generic_table_wrap .target .data {
  font-size: unset;
  white-space: unset;
  text-align: left;
}
.drop_generic_table_wrap .target.can-drop .s-img {
  border: 2px dashed lightgray;
  color: lightgray;
}
.drop_generic_table_wrap .target.is-over .s-img {
  border: 2px dashed #31708f;
  color: #31708f;
}

.generic_grid_img {
  border: #ddd solid thin;
}

.generic_sam_options {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: x-small;
}
.generic_sam_options .radio {
  margin-top: unset;
  margin-bottom: unset;
}

.generic_files {
  padding: 0px 5px !important;
}
.generic_files > div > div > div {
  text-align: left;
  align-self: center;
}
.generic_files > div > div > div .form-group {
  margin-bottom: 0px;
}

.grid-btn-none {
  font-size: large;
  color: white;
}

.generic_grid_dnd > div {
  display: table;
  width: 100%;
}
.generic_grid_dnd > div > div {
  display: table-cell;
  vertical-align: middle;
}
.generic_grid_dnd .dnd {
  cursor: move;
}
.generic_grid_dnd .dnd-btn {
  font-size: large;
}
.generic_grid_dnd .dnd-btn span {
  cursor: move;
}
.generic_grid_dnd.can-drop {
  border: 2px dashed lightgray;
  color: lightgray;
}
.generic_grid_dnd.is-over {
  border: 2px dashed #31708f;
  color: #31708f;
}
.generic_grid_dnd.is-dragging {
  opacity: 0.2;
}

.generic_layer_modal > .layer_header {
  background-color: white;
  color: #337ab7;
  font-size: 20px;
}

.generic_layer_column {
  width: 100%;
  margin: 6px 0px 6px 6px;
  text-align: center;
  line-height: 15px;
  align-self: center;
  border: 1px solid #337ab7;
  background-color: white;
  margin: 5px;
  padding: 10px;
  color: #337ab7;
  border-radius: 4px;
}

.generic_layer_column > div:first-child {
  display: flex;
}

.generic_layer_column > div:first-child > button {
  float: right;
  border-radius: 50%;
}

.generic_layer_column > div:first-child > div {
  width: 100%;
}

.generic_wf_modal {
  max-height: 100%;
  overflow: auto;
}

.generic_wf_modal > div:first-child {
  height: 85vh;
  width: 100%;
}

.flow_view_draggable {
  z-index: 100;
  position: absolute;
  top: 12%;
  left: 10%;
}
.flow_view_draggable .panel-body {
  padding: 5px;
}
.flow_view_draggable .panel-body > .body_bg {
  max-height: 100%;
  overflow: auto;
}
.flow_view_draggable .panel-body > .body_bg > .body_canvas {
  resize: both;
  overflow: auto;
  height: 70vh;
  width: 40vw;
  min-height: 250px;
  min-width: 300px;
  max-width: 1600px;
  max-height: 840px;
}

.gu_date_picker {
  margin-right: 2px;
}
.gu_date_picker input {
  border-radius: 4px;
  box-shadow: inset 0 2px 2px #e9e9e9;
  border: 1px solid #ccc;
  padding: 4px 12px;
  width: 100%;
}

.gu_date_picker_layer {
  display: inline-flex;
  line-height: normal;
  float: right;
}

.gu_datetime_range {
  display: flex;
  flex-wrap: nowrap;
}
.gu_datetime_range div {
  width: 100%;
}

.gu_btn_broup_layer {
  display: table;
}
.gu_btn_broup_layer > div {
  display: table-cell;
  vertical-align: middle;
  line-height: initial;
}
.gu_btn_broup_layer .form-group {
  margin-bottom: unset;
  float: left;
}

.react-datepicker {
  font-size: 1.3rem !important;
  display: flex !important;
}

.react-datepicker__current-month {
  font-size: 1.5rem !important;
}

.react-datepicker__header {
  padding-top: 6px !important;
}

.react-datepicker__navigation {
  top: 2px !important;
}

.react-datepicker__day-name, .react-datepicker__day {
  margin: 0.5rem !important;
}
