.gu-full-modal {
  width: 90vw;
  height: 90vh;
  max-width: none;
  margin-left: auto;
  margin-right: auto;
  // top: 47%;

  // .modal-dialog {
  //   top: 47%;
  // }

  .modal-content {
    height: 100%;
    // padding: 10px;
    // overflow: hidden;

    .modal-body {
      height: 92%;
    }
  }

  ::-webkit-scrollbar {
  background: transparent;
  overflow: visible;
  width: 17px;
  }

  ::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border: solid #fff;
  }

  ::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.8);
  }

  ::-webkit-scrollbar-thumb:horizontal {
  border-width: 4px 6px;
  min-width: 40px;
  }

  ::-webkit-scrollbar-thumb:vertical {
  border-width: 6px 4px;
  min-height: 40px;
  }

  ::-webkit-scrollbar-track-piece {
  background-color: #fff;
  }

  ::-webkit-scrollbar-corner {
  background: transparent;
  }

  ::-webkit-scrollbar-thumb {
  background-color: #ADADAD;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.10),inset 0 -1px 0 rgba(0,0,0,0.07);
  }

  ::-webkit-scrollbar-thumb:hover {
  background-color: #999;
  }
}

.gu_modal-68w {
  width: 68% !important;
  max-width: none !important;
}

.gu-full-width-panel {
  white-space: normal;
  width: 100%;
  // height: 100%;
  padding: 5px;
  border: 2px solid red;
  border-style: ridge;
  box-sizing: border-box;
  background-color: #99999944;
  font-family: inherit;
}

.gu-full-width-center {
  // overflow-y: scroll;
  border: 1px solid grey;
  padding: 2px;
  // height: 100%;
  box-sizing: border-box;
  font-family: cursive;
  background-color: #99999944;
  font-family: inherit;
}

// Nested modal styling for ElementSelectModal
.element-select-modal {
  // High z-index for deeply nested modals
  z-index: 9999 !important;

  // Backdrop z-index
  .modal-backdrop {
    z-index: 9998 !important;
  }
}
