@use "color" as *;

.gu-designer-template-bar {
  margin: 20px 0px 0px 0px;
  display: inline-flex;
  width: 100%;
  align-items: stretch;

  button:nth-child(2) {
    margin-left: 5px;
  }

  > span {
    display: flex;
    flex: 1;
    align-items: center;
    margin-left: 10px;
    padding: 0px 10px;
    border-radius: 5px;

    > span {
      width: 99%;
    }
  }
}

.lu-link {
  color: $color-bs-link !important;
  text-decoration: none;
  cursor: pointer;
}

.lu-link:hover {
  color: $color-bs-link-hover !important;
  text-decoration: underline;
}
